
*,
*::before,
*::after {
box-sizing: border-box;
}

html {
scroll-behavior: smooth;
height: 100%;
}

:root {
--font: 'Montserrat', sans-serif;
--checkout-color: #4E5150;
--sub-title-color: #333333;
--label-color: #4F4F4F;
--place-holder-color: #828282;
--sign-background-color: #E0E0E0;
--price-button-color: #F2994A;
--purchase-product-background-color: #F2F2F2;
--purchase-row-background-color: #BDBDBD;
/*styling select tag*/
--select-border: #777;
--select-focus: blue;
--select-arrow: var(--select-border);
}

body {
margin: 0;
padding: 0;
font-size: 1rem;
}

.container {
min-height: 100vh;
width: 75%;
padding: 0;
margin: 5rem auto;
display: flex;
}

.checking-form {
position: relative;
width: 55%;
margin-right: 3em;
}

.title {
font-size: 2.3rem;
font-family: var(--font);
font-weight: 600;
color: var(--checkout-color);
}

.information--contact, .address--contact {
font-family: var(--font);
font-weight: 600;
color: var(--sub-title-color);
}

.information {
margin: 3rem auto;
}

.btn {
margin: 3rem auto;
padding: 0;
float: right;
}

.checking-form--submit {
border: none;
border-radius: 12px;
background-color: var(--price-button-color);
color: #FFF;
width: 166px;
height: 54px;
font-family: var(--font);
font-weight: 600;
text-transform: capitalize;
cursor: pointer;
}

.form-field {
position: relative;
margin: 1.5rem 0;
}

.form-field--title {
display: flex;
flex-direction: column;
padding: 0;
}

.label__title {
font-family: var(--font);
font-weight: 600;
color: var(--label-color);
white-space: nowrap;
line-height: 30px;
}

.form-field--input {
font-family: var(--font);
font-weight: 600;
color: var(--place-holder-color);
text-indent: 40px;
width: 100%;
height: 56px;
border: 1px solid #828282;
border-radius: 12px;
line-height: 0 !important;
}

.inline-input {
display: grid;
grid-template-columns: 50% 42%;
gap: 8%;
margin: 0 auto;
padding: 0;
width: 100%;
}

#countries, #postal_code {
width: 100%;
}

.fa{
position: absolute;
left: 15px;
bottom: 17px !important;
color: var(--place-holder-color);
font-size: 1.3rem;
}

#right-side {
position: absolute;
left: 90%;
bottom: 9px;
color: var(--checkout-color);
font-size: 1rem;
cursor: pointer;
}

select {
/*reset all default select tag style*/
appearance: none;
background-color: transparent;
border: none;
padding: 0 1em 0 0;
margin: 0;
width: 100%;
font-family: inherit;
font-size: inherit;
cursor: inherit;
line-height: inherit;
outline: none;
}

select::-ms-expand {
display: none;
}

.select {
position: relative;
padding: 1em .7em 1em 2.2em;
font-family: var(--font);
font-weight: 600;
color: var(--label-color) !important;
text-indent: 40px;
width: 100%;
height: 56px;
border: 1px solid #828282;
border-radius: 12px;
font-size: 1rem;
cursor: pointer;
line-height: 1.1;
display: grid;
grid-template-areas: "select";
align-items: center;
}

select#country {
font-family: var(--font);
font-weight: 600;
color: var(--place-holder-color) !important;
}

.fa-globe-africa {
position: absolute;
color: var(--select-arrow);
left: -30px;
}

.select::after {
content: "";
width: 0.8em;
height: 0.5em;
background-color: var(--select-arrow);
clip-path: polygon(100% 0%, 0 0%, 50% 100%);
justify-self: end;
}

select,
.select:after {
grid-area: select;
}

.form-checkbox {
transform: scale(1.3);
vertical-align: middle;
}

.form-checkbox--legend {
font-family: var(--font);
font-weight: 600;
padding: 10px;
color: var(--label-color);
}

.purchase {

margin: 6rem 0 0 4em;
height: 100vh;
border-radius: 15px;
background-color: var(--purchase-product-background-color);
}

.purchase--product {
display: flex;
}

.purchase--product, .purchase--total-price {
padding: 2rem;
}

.product {
font-size: 1em;
}

.back-bag, .shoes {
max-width: 100%;
height: auto;
min-width: 130px;
border-radius: 15px;
}

.purchase--product-price .details {
padding: 0 1.2rem;
white-space: nowrap;
}

.details {
font-family: var(--font);
font-weight: 600;
color: var(--sub-title-color);
min-width: 200px;
}

.details p:first-child {
margin-top: 0;
}

.price {
display: flex;
margin: 0 auto;
}

#new-price {
color: var(--price-button-color);
padding-right: 1rem;
}

#old-price {
text-decoration: line-through;
}

.unit {
position: relative;
display: flex;
justify-content: center;
align-items: center;
margin-top: 32px;
border: 1px solid var(--place-holder-color);
border-radius: 5px;
width: 120px;
height: 50px;
}

.unit--sign:nth-child(1), .unit--sign:nth-child(3) {
width: 10px;
height: 10px;
}

.unit--sign:nth-of-type(1), .unit--sign:nth-of-type(2) {
margin-right: 2rem;
}

.decrease, .increase {
transform: scale(2);
border-radius: 2px;
text-align: center !important;
cursor: pointer;
color: var(--place-holder-color);
background-color: var(--sign-background-color);
}

.decrease {
line-height: 8px;
}

.increase {
line-height: 10px;
}

.purchase--total-price {
display:flex;
flex-direction: column;
font-family: var(--font);
font-weight: 600;
color: var(--sub-title-color);
font-size: 1.1em;
margin: 2rem auto;
}

.shipping--price, .total--price {
border-top: 2px solid var(--purchase-row-background-color);
padding-top: .5rem;
}

.shipping--price {
margin-bottom: 1rem;
}

.pricing {
float: right;
}

.copyright-footer {
text-align: center;
margin-top: auto;
padding: 1rem 0;
width: 100%;
font-size: 0.8em;
}

.contact {
text-decoration: none;
color: #1DA1F2;
}

@media (max-width: 880px) {
.container {
width: 95%;
margin: 2rem auto;
}

.checking-form {
width: 80%;
}

.purchase {
width: 80%;
}
}

@media (max-width: 769px) {
.container {
flex-direction: column-reverse;
width: 100%;
margin: 2rem auto;
}

.checking-form {
width: 90%;
margin: 0 auto;
}

.purchase {
width: 90%;
margin: 2rem auto 6rem auto;
height: 80%;
}

.back-bag, .shoes {
max-width: 100%;
}
}

@media (max-width: 375px) {
.container {
width: 100%;
}

.back-bag, .shoes {
max-width: 100%;
}
}




